<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.InboundNoteMapper">

    <resultMap type="InboundNote" id="InboundNoteResult">
        <result property="id" column="id"/>
        <result property="stockInNoteNo" column="stockInNoteNo"/>
        <result property="inboundDate" column="inbound_date"/>
        <result property="stockInPerson" column="stockInPerson"/>
        <result property="stockInQuantity" column="stockInQuantity"/>
        <result property="stockInAmount" column="stockInAmount"/>
        <result property="stockInNoTaxAmount" column="stockInNoTaxAmount"/>
        <result property="taxAmount" column="tax_amount"/>
        <result property="remarks" column="remarks"/>
        <result property="annex" column="annex"/>
        <result property="returnQuantity" column="return_quantity"/>
        <result property="returnTaxIncludedAmount" column="return_tax_included_amount"/>
        <result property="returnTaxExcludedAmount" column="return_tax_excluded_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <resultMap id="InboundNoteInboundMaterialResult" type="InboundNote" extends="InboundNoteResult">
        <collection property="inboundMaterialList" notNullColumn="sub_id" javaType="java.util.List"
                    resultMap="InboundMaterialResult"/>
    </resultMap>

    <resultMap type="InboundMaterial" id="InboundMaterialResult">
        <result property="id" column="id"/>
        <result property="orderCode" column="orderCode"/>
        <result property="lineNumber" column="line_number"/>
        <result property="orCode" column="or_code"/>
        <result property="orName" column="or_name"/>
        <result property="materialCategory" column="material_category"/>
        <result property="materialSpecification" column="material_specification"/>
        <result property="materialUnit" column="material_unit"/>
        <result property="requiredQuantity" column="required_quantity"/>
        <result property="deliveryDate" column="delivery_date"/>
        <result property="receivedQuantity" column="received_quantity"/>
        <result property="handlingMeasuresName" column="handling_measures_name"/>
        <result property="inspectQualifiedNumber" column="inspect_qualified_number"/>
        <result property="stockInQuantity" column="stockInQuantity"/>
        <result property="returnExchangeQuantity" column="return_exchange_quantity"/>
        <result property="returnExchangeReason" column="return_exchange_reason"/>
        <result property="consignee" column="consignee"/>
        <result property="receivingPhone" column="receiving_phone"/>
        <result property="inventory" column="inventory"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <sql id="selectInboundNoteVo">
        select id,
               stockInNoteNo,
               inbound_date,
               stockInPerson,
               stockInQuantity,
               stockInNoTaxAmount,
               stockInAmount,
               tax_amount,
               remarks,
               annex,
               return_quantity,
               return_tax_included_amount,
               return_tax_excluded_amount,
               create_time,
               updated_at
        from inbound_note
    </sql>

    <select id="selectInboundNoteList" parameterType="InboundNote" resultMap="InboundNoteResult">
        <include refid="selectInboundNoteVo"/>
        <where>
            <if test="stockInNoteNo != null  and stockInNoteNo != ''">and stockInNoteNo = #{stockInNoteNo}</if>
        </where>
    </select>

    <select id="selectInboundNoteById" parameterType="Long" resultMap="InboundNoteInboundMaterialResult">
        select a.id,
               a.stockInNoteNo,
               a.inbound_date,
               a.stockInPerson,
               a.stockInQuantity,
               a.stockInAmount,
               a.stockInNoTaxAmount,
               a.tax_amount,
               a.remarks,
               a.annex,
               a.return_quantity,
               a.return_tax_included_amount,
               a.return_tax_excluded_amount,
               a.created_time,
               a.updated_at,
               b.id                       as sub_id,
               b.orderCode                as sub_orderCode,
               b.line_number              as sub_line_number,
               b.or_code                  as sub_or_code,
               b.or_name                  as sub_or_name,
               b.material_category        as sub_material_category,
               b.material_specification   as sub_material_specification,
               b.material_unit            as sub_material_unit,
               b.required_quantity        as sub_required_quantity,
               b.delivery_date            as sub_delivery_date,
               b.received_quantity        as sub_received_quantity,
               b.handling_measures_name   as sub_handling_measures_name,
               b.inspect_qualified_number as sub_inspect_qualified_number,
               b.stockInQuantity          as sub_stockInQuantity,
               b.return_exchange_quantity as sub_return_exchange_quantity,
               b.return_exchange_reason   as sub_return_exchange_reason,
               b.consignee                as sub_consignee,
               b.receiving_phone          as sub_receiving_phone,
               b.inventory                as sub_inventory,
               b.remarks                  as sub_remarks
        from inbound_note a
                 left join inbound_material b on b.id = a.id
        where a.id = #{id}
    </select>
    <select id="selectInboundNoteByOrderCode" resultType="com.ruoyi.system.api.domain.InboundMaterial"
            resultMap="InboundMaterialResult">
        select id,
               orderCode,
               line_number,
               or_code,
               or_name,
               material_category,
               material_specification,
               material_unit,
               required_quantity,
               delivery_date,
               received_quantity,
               handling_measures_name,
               inspect_qualified_number,
               stockInQuantity,
               return_exchange_quantity,
               return_exchange_reason,
               consignee,
               receiving_phone,
               inventory,
               remarks
        from inbound_material
        where orderCode =
              #{orderCode} and or_name=#{orName}
    </select>

    <insert id="insertInboundNote" parameterType="InboundNote" useGeneratedKeys="true" keyProperty="id">
        insert into inbound_note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockInNoteNo != null">stockInNoteNo,</if>
            <if test="inboundDate != null">inbound_date,</if>
            <if test="stockInPerson != null">stockInPerson,</if>
            <if test="stockInQuantity != null">stockInQuantity,</if>
            <if test="stockInNoTaxAmount != null">stockInNoTaxAmount,</if>
            <if test="stockInAmount != null">stockInAmount,</if>
            <if test="taxAmount != null">tax_amount,</if>
            <if test="remarks != null">remarks,</if>
            <if test="annex != null">annex,</if>
            <if test="returnQuantity != null">return_quantity,</if>
            <if test="returnTaxIncludedAmount != null">return_tax_included_amount,</if>
            <if test="returnTaxExcludedAmount != null">return_tax_excluded_amount,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockInNoteNo != null">#{stockInNoteNo},</if>
            <if test="inboundDate != null">#{inboundDate},</if>
            <if test="stockInPerson != null">#{stockInPerson},</if>
            <if test="stockInQuantity != null">#{stockInQuantity},</if>
            <if test="stockInAmount != null">#{stockInAmount},</if>
            <if test="stockInNoTaxAmount != null">#{stockInNoTaxAmount},</if>
            <if test="taxAmount != null">#{taxAmount},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="annex != null">#{annex},</if>
            <if test="returnQuantity != null">#{returnQuantity},</if>
            <if test="returnTaxIncludedAmount != null">#{returnTaxIncludedAmount},</if>
            <if test="returnTaxExcludedAmount != null">#{returnTaxExcludedAmount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>

    <update id="updateInboundNote" parameterType="InboundNote">
        update inbound_note
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockInNoteNo != null">stockInNoteNo = #{stockInNoteNo},</if>
            <if test="inboundDate != null">inbound_date = #{inboundDate},</if>
            <if test="stockInPerson != null">stockInPerson = #{stockInPerson},</if>
            <if test="stockInQuantity != null">stockInQuantity = #{stockInQuantity},</if>
            <if test="stockInNoTaxAmount != null">#{stockInNoTaxAmount},</if>
            <if test="stockInAmount != null">stockInAmount = #{stockInAmount},</if>
            <if test="taxAmount != null">tax_amount = #{taxAmount},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="annex != null">annex = #{annex},</if>
            <if test="returnQuantity != null">return_quantity = #{returnQuantity},</if>
            <if test="returnTaxIncludedAmount != null">return_tax_included_amount = #{returnTaxIncludedAmount},</if>
            <if test="returnTaxExcludedAmount != null">return_tax_excluded_amount = #{returnTaxExcludedAmount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInboundNoteById" parameterType="Long">
        delete
        from inbound_note
        where id = #{id}
    </delete>

    <delete id="deleteInboundNoteByIds" parameterType="String">
        delete from inbound_note where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteInboundMaterialByIds" parameterType="String">
        delete from inbound_material where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteInboundMaterialById" parameterType="Long">
        delete
        from inbound_material
        where id = #{id}
    </delete>

    <insert id="batchInboundMaterial">
        insert into inbound_material( orderCode, line_number, or_code, or_name, material_category,
        material_specification, material_unit, required_quantity, delivery_date, received_quantity,
        handling_measures_name, inspect_qualified_number, stockInQuantity, return_exchange_quantity,
        return_exchange_reason, consignee, receiving_phone, inventory, remarks) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.orderCode}, #{item.lineNumber}, #{item.orCode}, #{item.orName},
            #{item.materialCategory}, #{item.materialSpecification}, #{item.materialUnit}, #{item.requiredQuantity},
            #{item.deliveryDate}, #{item.receivedQuantity}, #{item.handlingMeasuresName},
            #{item.inspectQualifiedNumber}, #{item.stockInQuantity}, #{item.returnExchangeQuantity},
            #{item.returnExchangeReason}, #{item.consignee}, #{item.receivingPhone}, #{item.inventory}, #{item.remarks})
        </foreach>
    </insert>
</mapper>