<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.OrderMaterialMapper">

    <resultMap type="OrderMaterial" id="OrderMaterialResult">
        <result property="orId" column="or_id"/>
        <result property="lineNumber" column="line_number"/>
        <result property="orCode" column="or_code"/>
        <result property="orName" column="or_name"/>
        <result property="categoryCode" column="category_code"/>
        <result property="materialCategory" column="material_category"/>
        <result property="materialSpecification" column="material_specification"/>
        <result property="materialModel" column="material_model"/>
        <result property="materialUnit" column="material_unit"/>
        <result property="requireNumber" column="require_number"/>
        <result property="requireTime" column="require_time"/>
        <result property="lowerPrice" column="lower_price"/>
        <result property="newPrice" column="new_price"/>
        <result property="noTaxPrice" column="no_tax_price"/>
        <result property="taxCode" column="tax_code"/>
        <result property="tax" column="tax"/>
        <result property="taxPrice" column="tax_price"/>
        <result property="lineTaxAmount" column="line_tax_amount"/>
        <result property="consignee" column="consignee"/>
        <result property="receivingPhone" column="receiving_phone"/>
        <result property="receivingAddress" column="receiving_address"/>
        <result property="remarks" column="remarks"/>
        <result property="orderCode" column="order_code"/>
        <result property="deliveryNumNote" column="delivery_num_note"/>
        <result property="omState" column="om_state"/>
        <result property="shipmentQuantity" column="shipment_quantity"/>
        <result property="rejectedQuantity" column="rejected_quantity"/>
        <result property="rejectedInfo" column="rejected_info"/>
    </resultMap>

    <sql id="selectOrderMaterialVo">
        select orm.or_id,
               orm.or_code,
               orm.or_name,
               orm.category_code,
               orm.material_category,
               orm.material_specification,
               orm.material_model,
               orm.material_unit,
               orm.require_number,
               orm.require_time,
               orm.lower_price,
               orm.new_price,
               orm.no_tax_price,
               orm.tax_code,
               orm.tax,
               orm.tax_price,
               orm.line_tax_amount,
               orm.consignee,
               orm.receiving_phone,
               orm.receiving_address,
               orm.remarks,
               orm.order_code,
               orm.om_state,
               sd.sbi_name
        from order_material orm
                 left join order_manager om
                           on orm.order_code = om.order_code
                 left join supplier_details sd on sd.sd_id = om.supplier
    </sql>
    <sql id="selectOrderMaterialVo1">
        select or_id,
               line_number,
               or_code,
               or_name,
               category_code,
               material_category,
               material_specification,
               material_model,
               material_unit,
               require_number,
               require_time,
               lower_price,
               new_price,
               no_tax_price,
               tax_code,
               tax,
               tax_price,
               line_tax_amount,
               consignee,
               receiving_phone,
               receiving_address,
               remarks,
               order_code,
               delivery_num_note,
               om_state,
               shipment_quantity,
               rejected_quantity,
               rejected_info
        from order_material
    </sql>
    <select id="selectOrderMaterialList" parameterType="OrderMaterial" resultMap="OrderMaterialResult">
        <include refid="selectOrderMaterialVo"/>
        <where>
            <if test="orCode != null  and orCode != ''">and or_code = #{orCode}</if>
            <if test="orName != null  and orName != ''">and or_name like concat('%', #{orName}, '%')</if>
            <if test="categoryCode != null  and categoryCode != ''">and category_code = #{categoryCode}</if>
            <if test="materialCategory != null  and materialCategory != ''">and material_category =
                #{materialCategory}
            </if>
            <if test="materialSpecification != null  and materialSpecification != ''">and material_specification =
                #{materialSpecification}
            </if>
            <if test="materialModel != null  and materialModel != ''">and material_model = #{materialModel}</if>
            <if test="materialUnit != null  and materialUnit != ''">and material_unit = #{materialUnit}</if>
            <if test="requireNumber != null ">and require_number = #{requireNumber}</if>
            <if test="requireTime != null ">and require_time = #{requireTime}</if>
            <if test="lowerPrice != null ">and lower_price = #{lowerPrice}</if>
            <if test="newPrice != null ">and new_price = #{newPrice}</if>
            <if test="noTaxPrice != null ">and no_tax_price = #{noTaxPrice}</if>
            <if test="taxCode != null  and taxCode != ''">and tax_code = #{taxCode}</if>
            <if test="tax != null ">and tax = #{tax}</if>
            <if test="taxPrice != null ">and tax_price = #{taxPrice}</if>
            <if test="lineTaxAmount != null ">and line_tax_amount = #{lineTaxAmount}</if>
            <if test="consignee != null ">and consignee = #{consignee}</if>
            <if test="receivingPhone != null  and receivingPhone != ''">and receiving_phone = #{receivingPhone}</if>
            <if test="receivingAddress != null  and receivingAddress != ''">and receiving_address =
                #{receivingAddress}
            </if>
            <if test="remarks != null  and remarks != ''">and remarks = #{remarks}</if>
            <if test="orderCode != null  and orderCode != ''">and order_code = #{orderCode}</if>
        </where>
    </select>

    <select id="selectOrderMaterialOrName" resultType="OrderMaterial">
        <include refid="selectOrderMaterialVo"/>
        where orm.order_code = #{taskCode}
    </select>
    <select id="findTaskMaterial" resultType="OrderMaterial" parameterType="String" resultMap="OrderMaterialResult">
        <include refid="selectOrderMaterialVo"/>
        where orm.order_code = #{taskCode}
    </select>
    <select id="findByOrderCodeMaterial" resultType="com.ruoyi.system.api.domain.OrderMaterial"
            resultMap="OrderMaterialResult">
        <include refid="selectOrderMaterialVo"/>
        where orm.order_code = #{orderCode}
    </select>
    <select id="selectOrderMaterialByOrNameAndOrderCode" resultType="OrderMaterial" resultMap="OrderMaterialResult">
        select material_category
        from order_material
        where or_name = #{orName}
          and order_code = #{orderCode} limit 1
    </select>
    <select id="findByOrderCodeMaterialReceipt" resultType="com.ruoyi.system.api.domain.OrderMaterial"
            resultMap="OrderMaterialResult">
        <include refid="selectOrderMaterialVo"/>
        where orm.or_name = #{orName} and orm.order_code =#{orderCode}
    </select>

    <insert id="insertOrderMaterial" parameterType="OrderMaterial" useGeneratedKeys="true" keyProperty="orId">
        insert into order_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lineNumber != null">line_number,</if>
            <if test="orCode != null">or_code,</if>
            <if test="orName != null">or_name,</if>
            <if test="categoryCode != null">category_code,</if>
            <if test="materialCategory != null">material_category,</if>
            <if test="materialSpecification != null">material_specification,</if>
            <if test="materialModel != null">material_model,</if>
            <if test="materialUnit != null">material_unit,</if>
            <if test="requireNumber != null">require_number,</if>
            <if test="requireTime != null">require_time,</if>
            <if test="lowerPrice != null">lower_price,</if>
            <if test="newPrice != null">new_price,</if>
            <if test="noTaxPrice != null">no_tax_price,</if>
            <if test="taxCode != null">tax_code,</if>
            <if test="tax != null">tax,</if>
            <if test="taxPrice != null">tax_price,</if>
            <if test="lineTaxAmount != null">line_tax_amount,</if>
            <if test="consignee != null">consignee,</if>
            <if test="receivingPhone != null">receiving_phone,</if>
            <if test="receivingAddress != null">receiving_address,</if>
            <if test="remarks != null">remarks,</if>
            <if test="orderCode != null">order_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lineNumber != null">#{lineNumber},</if>
            <if test="orCode != null">#{orCode},</if>
            <if test="orName != null">#{orName},</if>
            <if test="categoryCode != null">#{categoryCode},</if>
            <if test="materialCategory != null">#{materialCategory},</if>
            <if test="materialSpecification != null">#{materialSpecification},</if>
            <if test="materialModel != null">#{materialModel},</if>
            <if test="materialUnit != null">#{materialUnit},</if>
            <if test="requireNumber != null">#{requireNumber},</if>
            <if test="requireTime != null">#{requireTime},</if>
            <if test="lowerPrice != null">#{lowerPrice},</if>
            <if test="newPrice != null">#{newPrice},</if>
            <if test="noTaxPrice != null">#{noTaxPrice},</if>
            <if test="taxCode != null">#{taxCode},</if>
            <if test="tax != null">#{tax},</if>
            <if test="taxPrice != null">#{taxPrice},</if>
            <if test="lineTaxAmount != null">#{lineTaxAmount},</if>
            <if test="consignee != null">#{consignee},</if>
            <if test="receivingPhone != null">#{receivingPhone},</if>
            <if test="receivingAddress != null">#{receivingAddress},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="orderCode != null">#{orderCode},</if>
        </trim>
    </insert>
    <insert id="insertOrderMaterials" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="orId">
        insert into order_material
        (
        line_number,
        or_code,
        or_name,
        category_code,
        material_category,
        material_specification,
        material_model,
        material_unit,
        require_number,
        require_time,
        lower_price,
        new_price,
        no_tax_price,
        tax_code,
        tax,
        tax_price,
        line_tax_amount,
        consignee,
        receiving_phone,
        receiving_address,
        remarks,
        order_code
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.lineNumber},
            #{item.orCode},
            #{item.orName},
            #{item.categoryCode},
            #{item.materialCategory},
            #{item.materialSpecification},
            #{item.materialModel},
            #{item.materialUnit},
            #{item.requireNumber},
            #{item.requireTime},
            #{item.lowerPrice},
            #{item.newPrice},
            #{item.noTaxPrice},
            #{item.taxCode},
            #{item.tax},
            #{item.taxPrice},
            #{item.lineTaxAmount},
            #{item.consignee},
            #{item.receivingPhone},
            #{item.receivingAddress},
            #{item.remarks},
            #{item.orderCode}
            )
        </foreach>
    </insert>


    <update id="updateOrderMaterial" parameterType="OrderMaterial">
        update order_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="lineNumber != null">line_number = #{lineNumber},</if>
            <if test="orCode != null">or_code = #{orCode},</if>
            <if test="orName != null">or_name = #{orName},</if>
            <if test="categoryCode != null">category_code = #{categoryCode},</if>
            <if test="materialCategory != null">material_category = #{materialCategory},</if>
            <if test="materialSpecification != null">material_specification = #{materialSpecification},</if>
            <if test="materialModel != null">material_model = #{materialModel},</if>
            <if test="materialUnit != null">material_unit = #{materialUnit},</if>
            <if test="requireNumber != null">require_number = #{requireNumber},</if>
            <if test="requireTime != null">require_time = #{requireTime},</if>
            <if test="lowerPrice != null">lower_price = #{lowerPrice},</if>
            <if test="newPrice != null">new_price = #{newPrice},</if>
            <if test="noTaxPrice != null">no_tax_price = #{noTaxPrice},</if>
            <if test="taxCode != null">tax_code = #{taxCode},</if>
            <if test="tax != null">tax = #{tax},</if>
            <if test="taxPrice != null">tax_price = #{taxPrice},</if>
            <if test="lineTaxAmount != null">line_tax_amount = #{lineTaxAmount},</if>
            <if test="consignee != null">consignee = #{consignee},</if>
            <if test="receivingPhone != null">receiving_phone = #{receivingPhone},</if>
            <if test="receivingAddress != null">receiving_address = #{receivingAddress},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where or_id = #{orId}
    </update>
    <update id="updateOrderMaterials" parameterType="OrderMaterial">
        <foreach collection="list" item="item" separator=";">
            update order_material
            set
            or_code = #{item.orCode},
            or_name = #{item.orName},
            category_code = #{item.categoryCode},
            material_category = #{item.materialCategory},
            material_specification = #{item.materialSpecification},
            material_model = #{item.materialModel},
            material_unit = #{item.materialUnit},
            require_number = #{item.requireNumber},
            require_time = #{item.requireTime},
            lower_price = #{item.lowerPrice},
            new_price = #{item.newPrice},
            no_tax_price = #{item.noTaxPrice},
            tax_code = #{item.taxCode},
            tax = #{item.tax},
            tax_price = #{item.taxPrice},
            line_tax_amount = #{item.lineTaxAmount},
            consignee = #{item.consignee},
            receiving_phone = #{item.receivingPhone},
            receiving_address = #{item.receivingAddress},
            remarks = #{item.remarks},
            om_state = #{item.omState}
            where order_code = #{item.orderCode}
        </foreach>
    </update>

    <delete id="deleteOrderMaterialByOrId" parameterType="Long">
        delete
        from order_material
        where or_id = #{orId}
    </delete>

    <delete id="deleteOrderMaterialByOrIds" parameterType="String">
        delete from order_material where or_id in
        <foreach item="orId" collection="array" open="(" separator="," close=")">
            #{orId}
        </foreach>
    </delete>
    <delete id="deleteOrderMaterialByOrderCode" parameterType="String">
        delete
        from order_material
        where order_code = #{orderCode}
    </delete>
</mapper>