<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.OrderManagerMapper">

    <resultMap type="OrderManager" id="OrderManagerResult">
        <id property="orderId" column="order_id"/>
        <result property="orderCode" column="order_code"/>
        <result property="company" column="company"/>
        <result property="orderType" column="order_type"/>
        <result property="orderSource" column="order_source"/>
        <result property="purOrganization" column="pur_organization"/>
        <result property="annex" column="annex"/>
        <result property="isSelfPickup" column="is_self_pickup"/>
        <result property="licensePlateNumber" column="license_plate_number"/>
        <result property="concatInfomation" column="concat_infomation"/>
        <result property="contractCode" column="contract_code"/>
        <result property="contractName" column="contract_name"/>
        <result property="orderDescription" column="order_description"/>
        <result property="totalDemand" column="total_demand"/>
        <result property="purchaser" column="purchaser"/>
        <result property="orderState" column="order_state"/>
        <result property="orId" column="or_id"/>
        <result property="currencyId" column="currency_id"/>
        <result property="supplier" column="supplier"/>
        <result property="contacts" column="contacts"/>
        <result property="phone" column="phone"/>
        <result property="invoiceMethod" column="invoice_method"/>
        <result property="createTime" column="create_time"/>
        <result property="materialId" column="material_id"/>
        <result property="productId" column="product_id"/>
        <association property="orderTypeRunning" javaType="OrderTypeRunning">
            <id property="ortId" column="ort_id"/>
            <result property="ortName" column="ort_name"/>
        </association>
        <association property="supplierDetails" javaType="SupplierDetails">
            <id property="sdId" column="sd_id"/>
            <result property="sdTime" column="sd_time"/>
            <result property="sdCode" column="sd_code"/>
            <result property="sbiName" column="sbi_name"/>
        </association>
        <association property="currency" javaType="Currency">
            <result property="currencyId" column="currency_id"/>
            <result property="currencyCode" column="currency_code"/>
            <result property="currencyName" column="currency_name"/>
            <result property="countryRegion" column="country_region"/>
            <result property="financialAccuracy" column="financial_accuracy"/>
            <result property="accuracy" column="accuracy"/>
            <result property="currencySymbol" column="currency_symbol"/>
            <result property="enable" column="enable"/>
        </association>
        <association property="companies" javaType="com.ruoyi.system.api.domain.Companies">
            <id property="companiesId" column="companies_id"/>
            <result property="companiesName" column="companies_name"/>
            <result property="creditCode" column="credit_code"/>
            <result property="companiesAbbreviation" column="companies_abbreviation"/>
            <result property="isgroup" column="isgroup"/>
            <result property="companiesCode" column="companies_code"/>
            <result property="registrationNumber" column="registration_number"/>
            <result property="enterpriseType" column="enterprise_type"/>
            <result property="registeredCountry" column="registered_country"/>
            <result property="representative" column="representative"/>
            <result property="registeredCapital" column="registered_capital"/>
            <result property="establishmentDate" column="establishment_date"/>
            <result property="operatingPeriod" column="operating_period"/>
            <result property="basicDivision" column="basic_division"/>
            <result property="businessLicense" column="business_license"/>
            <result property="taxpayer" column="taxpayer"/>
            <result property="province" column="province"/>
            <result property="address" column="address"/>
            <result property="currencyId2" column="currency_id2"/>
            <result property="dengCode" column="deng_code"/>
            <result property="profile" column="profile"/>
        </association>
        <collection property="orderMaterialList" ofType="OrderMaterial">
            <id property="orId" column="or_id"/>
            <result property="orCode" column="or_code"/>
            <result property="orName" column="or_name"/>
            <result property="categoryCode" column="category_code"/>
            <result property="materialCategory" column="material_category"/>
            <result property="materialSpecification" column="material_specification"/>
            <result property="materialModel" column="material_model"/>
            <result property="materialUnit" column="material_unit"/>
            <result property="requireNumber" column="require_number"/>
            <result property="requireTime" column="require_time"/>
            <result property="lowerPrice" column="lower_price"/>
            <result property="newPrice" column="new_price"/>
            <result property="noTaxPrice" column="no_tax_price"/>
            <result property="taxCode" column="tax_code"/>
            <result property="tax" column="tax"/>
            <result property="taxPrice" column="tax_price"/>
            <result property="lineTaxAmount" column="line_tax_amount"/>
            <result property="consignee" column="consignee"/>
            <result property="receivingPhone" column="receiving_phone"/>
            <result property="receivingAddress" column="receiving_address"/>
            <result property="remarks" column="remarks"/>
        </collection>
    </resultMap>

    <sql id="selectOrderManagerVo">
        select om.order_id,
               om.order_code,
               om.company,
               om.order_type,
               om.order_source,
               om.pur_organization,
               om.annex,
               om.is_self_pickup,
               om.license_plate_number,
               om.concat_infomation,
               om.contract_code,
               om.contract_name,
               om.order_description,
               om.total_demand,
               om.purchaser,
               om.order_state,
               om.or_id,
               om.currency_id,
               om.supplier,
               om.contacts,
               om.phone,
               om.invoice_method,
               om.create_time,
               om.material_id,
               om.tax_total,
               otr.ort_name,
               sd.sbi_name,
               c.companies_name,
               y.currency_name,
               om.productId
        from order_manager om
                 left join order_type_running otr on om.or_id = otr.ort_id
                 left join supplier_details sd on sd.sd_id = om.supplier
                 left join companies c on c.companies_id = om.company
                 left join currency y on y.currency_id = om.currency_id
    </sql>
    <select id="selectOrderManagerList" parameterType="OrderManager" resultMap="OrderManagerResult">
        <include refid="selectOrderManagerVo"/>
        <where>
            <if test="orderCode != null  and orderCode != ''">and order_code = #{orderCode}</if>
            <if test="orderSource != null  and orderSource != ''">and order_source = #{orderSource}</if>
            <if test="orderState != null ">and order_state = #{orderState}</if>
            <if test="supplier != null ">and supplier = #{supplier}</if>
            <if test="orId != null ">and or_id = #{orId}</if>
        </where>
    </select>

    <select id="selectOrderManagerByOrderId" parameterType="Long" resultMap="OrderManagerResult">
        <include refid="selectOrderManagerVo"/>
        where order_id = #{orderId}
    </select>
    <select id="selectByOrderTypeRunning" resultType="OrderManager">
        <include refid="selectOrderManagerVo"/>
        where or_id = #{orId}
    </select>
    <select id="findRunTypeNumber" resultType="OrderManager" resultMap="OrderManagerResult">
        select order_id,or_id from order_manager
    </select>

    <insert id="insertOrderManager" parameterType="OrderManager" useGeneratedKeys="true" keyProperty="orderId">
        insert into order_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">order_code,</if>
            <if test="company != null">company,</if>
            <if test="orderType != null">order_type,</if>
            <if test="orderSource != null">order_source,</if>
            <if test="purOrganization != null">pur_organization,</if>
            <if test="annex != null">annex,</if>
            <if test="isSelfPickup != null">is_self_pickup,</if>
            <if test="licensePlateNumber != null">license_plate_number,</if>
            <if test="concatInfomation != null">concat_infomation,</if>
            <if test="contractCode != null">contract_code,</if>
            <if test="contractName != null">contract_name,</if>
            <if test="orderDescription != null">order_description,</if>
            <if test="totalDemand != null">total_demand,</if>
            <if test="purchaser != null">purchaser,</if>
            <if test="orderState != null">order_state,</if>
            <if test="orId != null">or_id,</if>
            <if test="currencyId != null">currency_id,</if>
            <if test="supplier != null">supplier,</if>
            <if test="contacts != null">contacts,</if>
            <if test="phone != null">phone,</if>
            <if test="invoiceMethod != null">invoice_method,</if>
            <if test="createTime != null">create_time,</if>
            <if test="materialId != null">material_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderCode != null">#{orderCode},</if>
            <if test="company != null">#{company},</if>
            <if test="orderType != null">#{orderType},</if>
            <if test="orderSource != null">#{orderSource},</if>
            <if test="purOrganization != null">#{purOrganization},</if>
            <if test="annex != null">#{annex},</if>
            <if test="isSelfPickup != null">#{isSelfPickup},</if>
            <if test="licensePlateNumber != null">#{licensePlateNumber},</if>
            <if test="concatInfomation != null">#{concatInfomation},</if>
            <if test="contractCode != null">#{contractCode},</if>
            <if test="contractName != null">#{contractName},</if>
            <if test="orderDescription != null">#{orderDescription},</if>
            <if test="totalDemand != null">#{totalDemand},</if>
            <if test="purchaser != null">#{purchaser},</if>
            <if test="orderState != null">#{orderState},</if>
            <if test="orId != null">#{orId},</if>
            <if test="currencyId != null">#{currencyId},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="contacts != null">#{contacts},</if>
            <if test="phone != null">#{phone},</if>
            <if test="invoiceMethod != null">#{invoiceMethod},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="materialId != null">#{materialId},</if>
        </trim>
    </insert>

    <update id="updateOrderManager" parameterType="OrderManager">
        update order_manager
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="company != null">company = #{company},</if>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="orderSource != null">order_source = #{orderSource},</if>
            <if test="purOrganization != null">pur_organization = #{purOrganization},</if>
            <if test="annex != null">annex = #{annex},</if>
            <if test="isSelfPickup != null">is_self_pickup = #{isSelfPickup},</if>
            <if test="licensePlateNumber != null">license_plate_number = #{licensePlateNumber},</if>
            <if test="concatInfomation != null">concat_infomation = #{concatInfomation},</if>
            <if test="contractCode != null">contract_code = #{contractCode},</if>
            <if test="contractName != null">contract_name = #{contractName},</if>
            <if test="orderDescription != null">order_description = #{orderDescription},</if>
            <if test="totalDemand != null">total_demand = #{totalDemand},</if>
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="orId != null">or_id = #{orId},</if>
            <if test="currencyId != null">currency_id = #{currencyId},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="contacts != null">contacts = #{contacts},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="invoiceMethod != null">invoice_method = #{invoiceMethod},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
        </trim>
        where order_id = #{orderId}
    </update>
    <update id="updateOrderManagerState" parameterType="OrderManager">
        update order_manager
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="company != null">company = #{company},</if>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="orderSource != null">order_source = #{orderSource},</if>
            <if test="purOrganization != null">pur_organization = #{purOrganization},</if>
            <if test="annex != null">annex = #{annex},</if>
            <if test="isSelfPickup != null">is_self_pickup = #{isSelfPickup},</if>
            <if test="licensePlateNumber != null">license_plate_number = #{licensePlateNumber},</if>
            <if test="concatInfomation != null">concat_infomation = #{concatInfomation},</if>
            <if test="contractCode != null">contract_code = #{contractCode},</if>
            <if test="contractName != null">contract_name = #{contractName},</if>
            <if test="orderDescription != null">order_description = #{orderDescription},</if>
            <if test="totalDemand != null">total_demand = #{totalDemand},</if>
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="orderState != null">order_state = #{orderState},</if>
            <if test="orId != null">or_id = #{orId},</if>
            <if test="currencyId != null">currency_id = #{currencyId},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="contacts != null">contacts = #{contacts},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="invoiceMethod != null">invoice_method = #{invoiceMethod},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrderManagerByOrderId" parameterType="Long">
        delete
        from order_manager
        where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderManagerByOrderIds" parameterType="String">
        delete from order_manager where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>