<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.OrderDeliveryNoteMapper">
    
    <resultMap type="OrderDeliveryNote" id="OrderDeliveryNoteResult">
        <result property="orderDeliveryNoteId"    column="order_delivery_note_id"    />
        <result property="orderDeliveryCode"    column="order_delivery_code"    />
        <result property="orderConnectionId"    column="order_connection_id"    />
        <result property="deliveryNoteState"    column="delivery_note_state"    />
        <result property="deliveryAddress"    column="delivery_address"    />
        <result property="consignee"    column="consignee"    />
        <result property="companyName"    column="company_name"    />
        <result property="consigneePhone"    column="consignee_phone"    />
        <result property="shipper"    column="shipper"    />
        <result property="shipperPhone"    column="shipper_phone"    />
        <result property="supplier"    column="supplier"    />
        <result property="carrier"    column="carrier"    />
        <result property="carrierPhone"    column="carrier_phone"    />
        <result property="deliveryMethod"    column="delivery_method"    />
        <result property="trackingNumber"    column="tracking_number"    />
        <result property="deliveryDate"    column="delivery_date"    />
        <result property="arrivalDate"    column="arrival_date"    />
        <result property="note"    column="note"    />
        <result property="annex"    column="annex"    />
        <result property="deliveryId"    column="delivery_id"    />
    </resultMap>

    <resultMap id="OrderDeliveryNoteDeliveryResult" type="OrderDeliveryNote" extends="OrderDeliveryNoteResult">
        <collection property="deliveryList" notNullColumn="sub_delivery_id" javaType="java.util.List" resultMap="DeliveryResult" />
    </resultMap>

    <resultMap type="Delivery" id="DeliveryResult">
        <result property="deliveryId"    column="sub_delivery_id"    />
        <result property="productInfo"    column="sub_product_info"    />
        <result property="productSpecifications"    column="sub_product_specifications"    />
        <result property="requiredQuantity"    column="sub_required_quantity"    />
        <result property="unit"    column="sub_unit"    />
        <result property="remainingDeliveryQuantity"    column="sub_remaining_delivery_quantity"    />
        <result property="currentDeliveryQuantity"    column="sub_current_delivery_quantity"    />
        <result property="remarks"    column="sub_remarks"    />
        <result property="sourceOrderNumber"    column="sub_source_order_number"    />
    </resultMap>

    <sql id="selectOrderDeliveryNoteVo">
        select order_delivery_note_id, order_delivery_code, order_connection_id, delivery_note_state, delivery_address, consignee, company_name, consignee_phone, shipper, shipper_phone, supplier, carrier, carrier_phone, delivery_method, tracking_number, delivery_date, arrival_date, note, annex, delivery_id from order_delivery_note
    </sql>

    <select id="selectOrderDeliveryNoteList" parameterType="OrderDeliveryNote" resultMap="OrderDeliveryNoteResult">
        <include refid="selectOrderDeliveryNoteVo"/>
        <where>  
            <if test="orderDeliveryCode != null  and orderDeliveryCode != ''"> and order_delivery_code = #{orderDeliveryCode}</if>
            <if test="deliveryNoteState != null "> and delivery_note_state = #{deliveryNoteState}</if>
            <if test="deliveryMethod != null  and deliveryMethod != ''"> and delivery_method = #{deliveryMethod}</if>
            <if test="arrivalDate != null "> and arrival_date = #{arrivalDate}</if>
        </where>
    </select>
    
    <select id="selectOrderDeliveryNoteByOrderDeliveryNoteId" parameterType="Long" resultMap="OrderDeliveryNoteDeliveryResult">
        select a.order_delivery_note_id, a.order_delivery_code, a.order_connection_id, a.delivery_note_state, a.delivery_address, a.consignee, a.company_name, a.consignee_phone, a.shipper, a.shipper_phone, a.supplier, a.carrier, a.carrier_phone, a.delivery_method, a.tracking_number, a.delivery_date, a.arrival_date, a.note, a.annex, a.delivery_id,
 b.delivery_id as sub_delivery_id, b.product_info as sub_product_info, b.product_specifications as sub_product_specifications, b.required_quantity as sub_required_quantity, b.unit as sub_unit, b.remaining_delivery_quantity as sub_remaining_delivery_quantity, b.current_delivery_quantity as sub_current_delivery_quantity, b.remarks as sub_remarks, b.source_order_number as sub_source_order_number
        from order_delivery_note a
        left join delivery b on b.delivery_id = a.order_delivery_note_id
        where a.order_delivery_note_id = #{orderDeliveryNoteId}
    </select>
        
    <insert id="insertOrderDeliveryNote" parameterType="OrderDeliveryNote" keyProperty="orderDeliveryNoteId" useGeneratedKeys="true">
        insert into order_delivery_note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderDeliveryNoteId != null">order_delivery_note_id,</if>
            <if test="orderDeliveryCode != null">order_delivery_code,</if>
            <if test="orderConnectionId != null">order_connection_id,</if>
            <if test="deliveryNoteState != null">delivery_note_state,</if>
            <if test="deliveryAddress != null">delivery_address,</if>
            <if test="consignee != null">consignee,</if>
            <if test="companyName != null">company_name,</if>
            <if test="consigneePhone != null">consignee_phone,</if>
            <if test="shipper != null">shipper,</if>
            <if test="shipperPhone != null">shipper_phone,</if>
            <if test="supplier != null">supplier,</if>
            <if test="carrier != null">carrier,</if>
            <if test="carrierPhone != null">carrier_phone,</if>
            <if test="deliveryMethod != null">delivery_method,</if>
            <if test="trackingNumber != null">tracking_number,</if>
            <if test="deliveryDate != null">delivery_date,</if>
            <if test="arrivalDate != null">arrival_date,</if>
            <if test="note != null">note,</if>
            <if test="annex != null">annex,</if>
            <if test="deliveryId != null">delivery_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderDeliveryNoteId != null">#{orderDeliveryNoteId},</if>
            <if test="orderDeliveryCode != null">#{orderDeliveryCode},</if>
            <if test="orderConnectionId != null">#{orderConnectionId},</if>
            <if test="deliveryNoteState != null">#{deliveryNoteState},</if>
            <if test="deliveryAddress != null">#{deliveryAddress},</if>
            <if test="consignee != null">#{consignee},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="consigneePhone != null">#{consigneePhone},</if>
            <if test="shipper != null">#{shipper},</if>
            <if test="shipperPhone != null">#{shipperPhone},</if>
            <if test="supplier != null">#{supplier},</if>
            <if test="carrier != null">#{carrier},</if>
            <if test="carrierPhone != null">#{carrierPhone},</if>
            <if test="deliveryMethod != null">#{deliveryMethod},</if>
            <if test="trackingNumber != null">#{trackingNumber},</if>
            <if test="deliveryDate != null">#{deliveryDate},</if>
            <if test="arrivalDate != null">#{arrivalDate},</if>
            <if test="note != null">#{note},</if>
            <if test="annex != null">#{annex},</if>
            <if test="deliveryId != null">#{deliveryId},</if>
         </trim>
    </insert>

    <update id="updateOrderDeliveryNote" parameterType="OrderDeliveryNote">
        update order_delivery_note
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderDeliveryCode != null">order_delivery_code = #{orderDeliveryCode},</if>
            <if test="orderConnectionId != null">order_connection_id = #{orderConnectionId},</if>
            <if test="deliveryNoteState != null">delivery_note_state = #{deliveryNoteState},</if>
            <if test="deliveryAddress != null">delivery_address = #{deliveryAddress},</if>
            <if test="consignee != null">consignee = #{consignee},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="consigneePhone != null">consignee_phone = #{consigneePhone},</if>
            <if test="shipper != null">shipper = #{shipper},</if>
            <if test="shipperPhone != null">shipper_phone = #{shipperPhone},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
            <if test="carrier != null">carrier = #{carrier},</if>
            <if test="carrierPhone != null">carrier_phone = #{carrierPhone},</if>
            <if test="deliveryMethod != null">delivery_method = #{deliveryMethod},</if>
            <if test="trackingNumber != null">tracking_number = #{trackingNumber},</if>
            <if test="deliveryDate != null">delivery_date = #{deliveryDate},</if>
            <if test="arrivalDate != null">arrival_date = #{arrivalDate},</if>
            <if test="note != null">note = #{note},</if>
            <if test="annex != null">annex = #{annex},</if>
            <if test="deliveryId != null">delivery_id = #{deliveryId},</if>
        </trim>
        where order_delivery_note_id = #{orderDeliveryNoteId}
    </update>

    <delete id="deleteOrderDeliveryNoteByOrderDeliveryNoteId" parameterType="Long">
        delete from order_delivery_note where order_delivery_note_id = #{orderDeliveryNoteId}
    </delete>

    <delete id="deleteOrderDeliveryNoteByOrderDeliveryNoteIds" parameterType="String">
        delete from order_delivery_note where order_delivery_note_id in 
        <foreach item="orderDeliveryNoteId" collection="array" open="(" separator="," close=")">
            #{orderDeliveryNoteId}
        </foreach>
    </delete>
    
    <delete id="deleteDeliveryByDeliveryIds" parameterType="String">
        delete from delivery where delivery_id in 
        <foreach item="deliveryId" collection="array" open="(" separator="," close=")">
            #{deliveryId}
        </foreach>
    </delete>

    <delete id="deleteDeliveryByDeliveryId" parameterType="Long">
        delete from delivery where delivery_id = #{deliveryId}
    </delete>

    <insert id="batchDelivery">
        insert into delivery( delivery_id, product_info, product_specifications, required_quantity, unit, remaining_delivery_quantity, current_delivery_quantity, remarks, source_order_number) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.deliveryId}, #{item.productInfo}, #{item.productSpecifications}, #{item.requiredQuantity}, #{item.unit}, #{item.remainingDeliveryQuantity}, #{item.currentDeliveryQuantity}, #{item.remarks}, #{item.sourceOrderNumber})
        </foreach>
    </insert>
</mapper>