<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.mast.mapper.CategoryMapper">

    <resultMap type="Category" id="CategoryResult">
        <result property="categoryid"    column="categoryid"    />
        <result property="categoryCode"    column="category_code"    />
        <result property="categoryName"    column="category_name"    />
        <result property="enable"    column="enable"    />
        <result property="isNo"    column="is_no"    />
        <result property="superiorCategory"    column="superior_category"    />
        <result property="creationTime"    column="creation_time"    />
        <result property="lUpdated"    column="l_updated"    />
        <result property="lUpdateTime"    column="l_update_time"    />
        <result property="bEName"    column="b_e_name"    />
        <result property="company"    column="company"    />
        <result property="meteringUnit"    column="metering_unit"    />
        <result property="sourceSystem"    column="source_system"    />
        <result property="introductionRequirements"    column="introduction_requirements"    />
        <result property="assignPurchaser"    column="assign_purchaser"    />
    </resultMap>

    <sql id="selectCategoryVo">
        select categoryid, category_code, category_name, enable, is_no, superior_category, creation_time, l_updated, l_update_time, b_e_name, company, metering_unit, source_system, introduction_requirements, assign_purchaser from category
    </sql>

    <select id="selectCategoryList" parameterType="Category" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        <where>
            <if test="categoryCode != null  and categoryCode != ''"> and category_code = #{categoryCode}</if>
            <if test="categoryName != null "> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="enable != null "> and enable = #{enable}</if>
            <if test="superiorCategory != null  and superiorCategory != ''"> and superior_category = #{superiorCategory}</if>
        </where>
    </select>

    <select id="selectCategoryByCategoryid" parameterType="Long" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        where categoryid = #{categoryid}
    </select>

    <insert id="insertCategory" parameterType="Category" useGeneratedKeys="true" keyProperty="categoryid">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">category_code,</if>
            <if test="categoryName != null">category_name,</if>
            <if test="enable != null">enable,</if>
            <if test="isNo != null">is_no,</if>
            <if test="superiorCategory != null">superior_category,</if>
            <if test="creationTime != null">creation_time,</if>
            <if test="lUpdated != null">l_updated,</if>
            <if test="lUpdateTime != null">l_update_time,</if>
            <if test="bEName != null">b_e_name,</if>
            <if test="company != null">company,</if>
            <if test="meteringUnit != null">metering_unit,</if>
            <if test="sourceSystem != null">source_system,</if>
            <if test="introductionRequirements != null">introduction_requirements,</if>
            <if test="assignPurchaser != null">assign_purchaser,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null">#{categoryCode},</if>
            <if test="categoryName != null">#{categoryName},</if>
            <if test="enable != null">#{enable},</if>
            <if test="isNo != null">#{isNo},</if>
            <if test="superiorCategory != null">#{superiorCategory},</if>
            <if test="creationTime != null">#{creationTime},</if>
            <if test="lUpdated != null">#{lUpdated},</if>
            <if test="lUpdateTime != null">#{lUpdateTime},</if>
            <if test="bEName != null">#{bEName},</if>
            <if test="company != null">#{company},</if>
            <if test="meteringUnit != null">#{meteringUnit},</if>
            <if test="sourceSystem != null">#{sourceSystem},</if>
            <if test="introductionRequirements != null">#{introductionRequirements},</if>
            <if test="assignPurchaser != null">#{assignPurchaser},</if>
         </trim>
    </insert>

    <update id="updateCategory" parameterType="Category">
        update category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryCode != null">category_code = #{categoryCode},</if>
            <if test="categoryName != null">category_name = #{categoryName},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="isNo != null">is_no = #{isNo},</if>
            <if test="superiorCategory != null">superior_category = #{superiorCategory},</if>
            <if test="creationTime != null">creation_time = #{creationTime},</if>
            <if test="lUpdated != null">l_updated = #{lUpdated},</if>
            <if test="lUpdateTime != null">l_update_time = #{lUpdateTime},</if>
            <if test="bEName != null">b_e_name = #{bEName},</if>
            <if test="company != null">company = #{company},</if>
            <if test="meteringUnit != null">metering_unit = #{meteringUnit},</if>
            <if test="sourceSystem != null">source_system = #{sourceSystem},</if>
            <if test="introductionRequirements != null">introduction_requirements = #{introductionRequirements},</if>
            <if test="assignPurchaser != null">assign_purchaser = #{assignPurchaser},</if>
        </trim>
        where categoryid = #{categoryid}
    </update>

    <delete id="deleteCategoryByCategoryid" parameterType="Long">
        delete from category where categoryid = #{categoryid}
    </delete>

    <delete id="deleteCategoryByCategoryids" parameterType="String">
        delete from category where categoryid in
        <foreach item="categoryid" collection="array" open="(" separator="," close=")">
            #{categoryid}
        </foreach>
    </delete>
</mapper>
