<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mast.mapper.MaterialMapper">

    <resultMap type="Material" id="MaterialResult">
        <result property="materialId" column="material_id"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialName" column="material_name"/>
        <result property="calculationUnit" column="calculation_unit"/>
        <result property="unitName" column="unit_name"/>
        <result property="metering_unit" column="metering_unit"/>
        <result property="purchaser" column="purchaser"/>
        <result property="lUpdated" column="l_updated"/>
        <result property="lUpdateTime" column="l_update_time"/>
        <result property="sourceSystem" column="source_system"/>
        <result property="enable" column="enable"/>
        <result property="mCategory" column="m_category"/>
        <result property="categoryCode" column="category_code"/>
        <result property="categoryName" column="category_name"/>
        <result property="specifications" column="specifications"/>
        <result property="model" column="model"/>
        <result property="brand" column="brand"/>
        <result property="categoriesTaxes" column="categories_taxes"/>
        <result property="image" column="image"/>
        <result property="gWeight" column="g_weight"/>
        <result property="nWeight" column="n_weight"/>
        <result property="weight" column="weight"/>
        <result property="weightName" column="weightName"/>
        <result property="volume" column="volume"/>
        <result property="vUnit" column="v_unit"/>
        <result property="abcAttribute" column="abc_attribute"/>
        <result property="avoidInspect" column="avoid_inspect"/>

        <result property="demandMonth"    column="demandMonth"    />
        <result property="demandNum"    column="demandNum"    />
        <result property="demandStatus"    column="demandStatus"    />
        <result property="count"    column="count"    />
        <result property="orderSource"    column="orderSource"    />
        <result property="oCount"    column="oCount"    />
        <result property="mCount"    column="mCount"    />
        <result property="Month"    column="Month"    />
        <result property="aMoney"    column="aMoney"    />
        <result property="treatNum"    column="treatNum"    />
        <result property="treatMoney"    column="treatMoney"    />
        <result property="stopNum"    column="stopNum"    />
        <result property="aMoney"    column="completeMoney"    />
        <result property="applyNum"    column="applyNum"    />
        <result property="reconciliationNum"    column="reconciliationNum"    />
        <result property="reconciliationRefuseNum"    column="reconciliationRefuseNum"    />
        <result property="orderTotal"    column="orderTotal"    />
        <result property="orderTotalAmount"    column="orderTotalAmount"    />
        <result property="mentNum"    column="mentNum"    />
        <result property="mentNumNo"    column="mentNumNo"    />
        <result property="inspectTotalNo"    column="inspectTotalNo"    />
        <result property="inspectTotal"    column="inspectTotal"    />
    </resultMap>

    <sql id="selectMaterialVo">
        select a.material_id,
               a.material_code,
               a.material_name,
               a.calculation_unit,
               c.metering_unit,
               a.purchaser,
               a.l_updated,
               a.l_update_time,
               a.source_system,
               a.enable,
               a.m_category,
               b.category_code,
               b.category_name,
               a.specifications,
               a.model,
               a.brand,
               a.categories_taxes,
               a.image,
               a.g_weight,
               a.n_weight,
               a.weight,
               a.volume,
               a.v_unit,
               a.abc_attribute,
               a.avoid_inspect,
               d.metering_unit as weightName,
               e.metering_unit as vUnitName
        from material a
        LEFT JOIN category b ON a.m_category=b.categoryid
        LEFT JOIN unit_of_account c on a.calculation_unit=c.unit_id
        LEFT JOIN unit_of_account d on a.weight=d.unit_id
        LEFT JOIN unit_of_account e on a.v_unit=e.unit_id
        ORDER BY a.material_id DESC
    </sql>

    <select id="selectMaterialList" parameterType="Material" resultMap="MaterialResult">
        <include refid="selectMaterialVo"/>
        <where>
            <if test="materialCode != null  and materialCode != ''">and material_code = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''">and material_name like concat('%', #{materialName},
                '%')
            </if>
            <if test="enable != null ">and enable = #{enable}</if>
        </where>
    </select>

    <select id="selectMaterialByMaterialId" parameterType="Long" resultMap="MaterialResult">
        <include refid="selectMaterialVo"/>
        where material_id = #{materialId}
    </select>

    <insert id="insertMaterial" parameterType="Material" useGeneratedKeys="true" keyProperty="materialId">
        insert into material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialCode != null">material_code,</if>
            <if test="materialName != null">material_name,</if>
            <if test="calculationUnit != null">calculation_unit,</if>
            <if test="purchaser != null">purchaser,</if>
            <if test="lUpdated != null">l_updated,</if>
            <if test="lUpdateTime != null">l_update_time,</if>
            <if test="sourceSystem != null">source_system,</if>
            <if test="enable != null">enable,</if>
            <if test="mCategory != null">m_category,</if>
            <if test="specifications != null">specifications,</if>
            <if test="model != null">model,</if>
            <if test="brand != null">brand,</if>
            <if test="categoriesTaxes != null">categories_taxes,</if>
            <if test="image != null">image,</if>
            <if test="gWeight != null">g_weight,</if>
            <if test="nWeight != null">n_weight,</if>
            <if test="weight != null">weight,</if>
            <if test="volume != null">volume,</if>
            <if test="vUnit != null">v_unit,</if>
            <if test="abcAttribute != null">abc_attribute,</if>
            <if test="avoidInspect != null">avoid_inspect,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="calculationUnit != null">#{calculationUnit},</if>
            <if test="purchaser != null">#{purchaser},</if>
            <if test="lUpdated != null">#{lUpdated},</if>
            <if test="lUpdateTime != null">#{lUpdateTime},</if>
            <if test="sourceSystem != null">#{sourceSystem},</if>
            <if test="enable != null">#{enable},</if>
            <if test="mCategory != null">#{mCategory},</if>
            <if test="specifications != null">#{specifications},</if>
            <if test="model != null">#{model},</if>
            <if test="brand != null">#{brand},</if>
            <if test="categoriesTaxes != null">#{categoriesTaxes},</if>
            <if test="image != null">#{image},</if>
            <if test="gWeight != null">#{gWeight},</if>
            <if test="nWeight != null">#{nWeight},</if>
            <if test="weight != null">#{weight},</if>
            <if test="volume != null">#{volume},</if>
            <if test="vUnit != null">#{vUnit},</if>
            <if test="abcAttribute != null">#{abcAttribute},</if>
            <if test="avoidInspect != null">#{avoidInspect},</if>
        </trim>
    </insert>

    <update id="updateMaterial" parameterType="Material">
        update material
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="calculationUnit != null">calculation_unit = #{calculationUnit},</if>
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="lUpdated != null">l_updated = #{lUpdated},</if>
            <if test="lUpdateTime != null">l_update_time = #{lUpdateTime},</if>
            <if test="sourceSystem != null">source_system = #{sourceSystem},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="mCategory != null">m_category = #{mCategory},</if>
            <if test="specifications != null">specifications = #{specifications},</if>
            <if test="model != null">model = #{model},</if>
            <if test="brand != null">brand = #{brand},</if>
            <if test="categoriesTaxes != null">categories_taxes = #{categoriesTaxes},</if>
            <if test="image != null">image = #{image},</if>
            <if test="gWeight != null">g_weight = #{gWeight},</if>
            <if test="nWeight != null">n_weight = #{nWeight},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="vUnit != null">v_unit = #{vUnit},</if>
            <if test="abcAttribute != null">abc_attribute = #{abcAttribute},</if>
            <if test="avoidInspect != null">avoid_inspect = #{avoidInspect},</if>
        </trim>
        where material_id = #{materialId}
    </update>

    <delete id="deleteMaterialByMaterialId" parameterType="Long">
        delete
        from material
        where material_id = #{materialId}
    </delete>

    <delete id="deleteMaterialByMaterialIds" parameterType="String">
        delete from material where material_id in
        <foreach item="materialId" collection="array" open="(" separator="," close=")">
            #{materialId}
        </foreach>
    </delete>

    <select id="selectMonthDemand" parameterType="MaterialInformation" resultMap="MaterialResult">
        SELECT
            months.Month,
            COUNT(must_date) AS demandNum
        FROM
            (SELECT 1 AS Month UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL
             SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL
             SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9 UNION ALL
             SELECT 10 UNION ALL SELECT 11 UNION ALL SELECT 12) AS months
                LEFT JOIN material_information ON EXTRACT(MONTH FROM must_date) = months.Month
                AND EXTRACT(YEAR FROM must_date) = '2024'
        GROUP BY months.Month
        ORDER BY months.Month
    </select>
    <select id="selectDemandStatus" parameterType="MaterialInformation" resultMap="MaterialResult">
        SELECT '待分配' AS demandStatus, COUNT(*) AS count FROM material_information WHERE status = 1
        UNION ALL
        SELECT '已分配' AS demandStatus, COUNT(*) AS count FROM material_information WHERE status = 2
        UNION ALL
        SELECT '已完成' AS demandStatus, COUNT(*) AS count FROM material_information WHERE status = 3
        UNION ALL
        SELECT '已暂挂' AS demandStatus, COUNT(*) AS count FROM material_information WHERE status = 4
        UNION ALL
        SELECT '已作废' AS demandStatus, COUNT(*) AS count FROM material_information WHERE status = 5
    </select>
    <select id="selectOrderSource" parameterType="OrderManager" resultMap="MaterialResult">
        SELECT '合同转订单' AS orderSource, COUNT(*) AS oCount FROM order_manager WHERE order_source = 1
        UNION ALL
        SELECT '新建订单' AS orderSource, COUNT(*) AS oCount FROM order_manager WHERE order_source = 2
        UNION ALL
        SELECT '需求转订单' AS orderSource, COUNT(*) AS oCount FROM order_manager WHERE order_source = 3
        UNION ALL
        SELECT '寻源转订单' AS orderSource, COUNT(*) AS oCount FROM order_manager WHERE order_source = 4
    </select>
    <select id="selectMonthOrder" parameterType="OrderManager" resultMap="MaterialResult">
        SELECT
            months.Month,
            COUNT(create_time) AS mCount
        FROM
            (SELECT 1 AS Month UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL
             SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL
             SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9 UNION ALL
             SELECT 10 UNION ALL SELECT 11 UNION ALL SELECT 12) AS months
                LEFT JOIN order_manager ON EXTRACT(MONTH FROM create_time) = months.Month
                AND EXTRACT(YEAR FROM create_time) = '2023'
        GROUP BY months.Month
        ORDER BY months.Month
    </select>
    <select id="selectMonthOrderMoney" parameterType="OrderExecutionDetails" resultMap="MaterialResult">
        SELECT
            months.Month,
            COALESCE(SUM(taxTotal), 0) AS aMoney
        FROM
            (SELECT 1 AS Month UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL
             SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL
             SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9 UNION ALL
             SELECT 10 UNION ALL SELECT 11 UNION ALL SELECT 12) AS months
                LEFT JOIN
            (SELECT
                 EXTRACT(MONTH FROM requiredDate) AS Month,
        taxTotal
             FROM order_execution_details
             WHERE EXTRACT(YEAR FROM requiredDate) = '2023'
            ) AS data ON months.Month = data.Month
        GROUP BY months.Month
        ORDER BY months.Month
    </select>
    <select id="selTreatNum"  >
        SELECT COUNT(*) AS treatNum from order_execution_details where order_handle=1
    </select>
    <select id="selTreatMoney" >
        SELECT COALESCE(SUM(taxTotal-receivedAmount), 0) AS treatMoney from order_execution_details where order_handle=1
    </select>
    <select id="selStopNum" >
        SELECT COUNT(*) AS stopNum from order_execution_details where order_handle=2
    </select>
    <select id="selCompleteMoney"  >
        SELECT COALESCE(SUM(taxTotal),0) AS completeMoney from order_execution_details where order_handle=2
    </select>
    <select id="selApplyNum"  >
        SELECT COUNT(*) AS applyNum FROM material_requirement
    </select>
    <select id="selReconciliationNum"  >
        SELECT COUNT(*) AS reconciliationNum FROM order_execution_details WHERE order_quanlity=2
    </select>
    <select id="selReconciliationRefuseNum"  >
        SELECT COUNT(*) AS reconciliationRefuseNum FROM order_execution_details WHERE order_quanlity=2 AND reconciliation_status=5
    </select>
    <select id="selOrderTotal"  >
        SELECT count(*) AS orderTotal FROM order_execution_details    </select>
    <select id="selOrderTotalAmount"  >
        SELECT SUM(taxTotal) AS orderTotalAmount FROM order_execution_details    </select>
    <select id="selMentNum"  >
        SELECT COUNT(*) as mentNum from contract_management
    </select>
    <select id="selMentNumNo"  >
        SELECT COUNT(*) as mentNumNo from contract_management WHERE contractstatus_id=4
    </select>
    <select id="selInspectTotal"  >
        SELECT COUNT(*) as inspectTotal FROM order_execution_details where order_handle=2
    </select>
    <select id="selInspectTotalNo"  >
        SELECT COUNT(*) as inspectTotalNo FROM order_execution_details where order_handle=2 AND order_quanlity=1    </select>
</mapper>
