<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.MaterialInformationMapper">

    <resultMap type="com.ruoyi.system.api.domain.MaterialInformation" id="MaterialInformationResult">
        <result property="miId"    column="mi_id"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialCategory"    column="material_category"    />
        <result property="materialSpecification"    column="material_specification"    />
        <result property="materialModel"    column="material_model"    />
        <result property="materialBrand"    column="material_brand"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="mustNumber"    column="must_number"    />
        <result property="mustDate"    column="must_date"    />
        <result property="currencyName"    column="currency_name"    />
        <result property="referencePrice"    column="reference_price"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="tax"    column="tax"    />
        <result property="rateValue"    column="rate_value"    />
        <result property="budgetAmount"    column="budget_amount"    />
        <result property="remarks"    column="remarks"    />
        <result property="annex"    column="annex"    />
        <result property="purchaser"    column="purchaser"    />
        <result property="requirementCode"    column="requirement_code"    />
        <result property="requirementId"    column="requirement_id"    />
        <result property="requirementCreator"    column="requirement_creator"    />
        <result property="requirementTitle"    column="requirement_title"    />
        <result property="createDepartment"    column="create_department"    />
        <result property="demander"    column="demander"    />
        <result property="demandDepartment"    column="demand_department"    />
        <result property="requirementType"    column="requirement_type"    />
        <result property="companiesId"    column="companies_id"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="expenseDepartment"    column="expense_department"    />
        <result property="description"    column="description"    />
        <result property="address"    column="address"    />
        <result property="phone"    column="phone"    />
        <result property="currencyId"    column="currency_id"    />
        <result property="relatedProjects"    column="related_projects"    />
        <result property="status"    column="status"    />
        <result property="taskCode"    column="taskCode"    />
        <result property="taskId"    column="task_id"    />
    </resultMap>

    <resultMap id="MaterialInformationMaterialResult" type="com.ruoyi.system.api.domain.MaterialInformation" extends="MaterialInformationResult">
        <collection property="materialList" notNullColumn="sub_material_id" javaType="java.util.List" resultMap="MaterialResult" />
    </resultMap>

    <resultMap type="com.ruoyi.system.api.domain.MaterialPool" id="MaterialResult">
        <result property="materialId"    column="sub_material_id"    />
        <result property="materialCode"    column="sub_material_code"    />
        <result property="materialName"    column="sub_material_name"    />
        <result property="calculationUnit"    column="sub_calculation_unit"    />
        <result property="purchaser"    column="sub_purchaser"    />
        <result property="lUpdated"    column="sub_l_updated"    />
        <result property="lUpdateTime"    column="sub_l_update_time"    />
        <result property="sourceSystem"    column="sub_source_system"    />
        <result property="enable"    column="sub_enable"    />
        <result property="mCategory"    column="sub_m_category"    />
        <result property="specifications"    column="sub_specifications"    />
        <result property="model"    column="sub_model"    />
        <result property="brand"    column="sub_brand"    />
        <result property="categoriesTaxes"    column="sub_categories_taxes"    />
        <result property="image"    column="sub_image"    />
        <result property="gWeight"    column="sub_g_weight"    />
        <result property="nWeight"    column="sub_n_weight"    />
        <result property="weight"    column="sub_weight"    />
        <result property="volume"    column="sub_volume"    />
        <result property="vUnit"    column="sub_v_unit"    />
        <result property="abcAttribute"    column="sub_abc_attribute"    />
        <result property="avoidInspect"    column="sub_avoid_inspect"    />
    </resultMap>

    <sql id="selectMaterialInformationVo">
        select m.mi_id, material_code, material_name, material_category, material_specification, material_model,material_brand, material_unit, must_number, must_date, currency_name, reference_price, unit_price,
        tax, rate_value, budget_amount, remarks, m.annex, m.purchaser, m.requirement_code,related_projects,demand_department,description,demander,`status`,task_id from material_information m
        LEFT JOIN  material_requirement  r  ON m.requirement_code=r.requirement_code
        LEFT JOIN procurement_task p ON m.mi_id=p.mi_id
    </sql>

    <select id="selectMaterialInformationList" parameterType="com.ruoyi.system.api.domain.MaterialInformation" resultMap="MaterialInformationResult">
        <include refid="selectMaterialInformationVo"/>
        <where>
            <if test="materialCode != null  and materialCode != ''"> and material_code = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialCategory != null  and materialCategory != ''"> and material_category = #{materialCategory}</if>
            <if test="materialSpecification != null  and materialSpecification != ''"> and material_specification = #{materialSpecification}</if>
            <if test="materialModel != null  and materialModel != ''"> and material_model = #{materialModel}</if>
            <if test="materialBrand != null  and materialBrand != ''"> and material_brand = #{materialBrand}</if>
            <if test="materialUnit != null  and materialUnit != ''"> and material_unit = #{materialUnit}</if>
            <if test="mustNumber != null "> and must_number = #{mustNumber}</if>
            <if test="mustDate != null "> and must_date = #{mustDate}</if>
            <if test="currencyName != null "> and currency_name = #{currencyName}</if>
            <if test="referencePrice != null "> and reference_price = #{referencePrice}</if>
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="tax != null  and tax != ''"> and tax = #{tax}</if>
            <if test="rateValue != null  and rateValue != ''"> and rate_value = #{rateValue}</if>
            <if test="budgetAmount != null  and budgetAmount != ''"> and budget_amount = #{budgetAmount}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="annex != null  and annex != ''"> and annex = #{annex}</if>
            <if test="purchaser != null  and purchaser != ''"> and purchaser = #{purchaser}</if>
            <if test="requirementCode != null  and requirementCode != ''"> and requirement_code = #{requirementCode}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="taskId != null  and taskId != ''"> and task_id = #{taskId}</if>
        </where>
    </select>

    <select id="selectMaterialInformationByMiId" parameterType="Integer" resultMap="MaterialInformationMaterialResult">
        select a.mi_id, a.material_code, a.material_name, a.material_category, a.material_specification, a.material_model, a.material_brand, a.material_unit, a.must_number, a.must_date, a.currency_name, a.reference_price, a.unit_price, a.tax, a.rate_value, a.budget_amount, a.remarks, a.annex, a.purchaser, a.requirement_code,
               b.material_id as sub_material_id, b.material_code as sub_material_code, b.material_name as sub_material_name, b.calculation_unit as sub_calculation_unit, b.purchaser as sub_purchaser, b.l_updated as sub_l_updated, b.l_update_time as sub_l_update_time, b.source_system as sub_source_system, b.enable as sub_enable,
               b.m_category as sub_m_category, b.specifications as sub_specifications, b.model as sub_model, b.brand as sub_brand, b.categories_taxes as sub_categories_taxes, b.image as sub_image, b.g_weight as sub_g_weight, b.n_weight as sub_n_weight, b.weight as sub_weight, b.volume as sub_volume, b.v_unit as sub_v_unit,
               b.abc_attribute as sub_abc_attribute, b.avoid_inspect as sub_avoid_inspect
        ,status from material_information a
                 left join material b on b.material_id = a.mi_id
        where a.mi_id = #{miId}
    </select>

    <insert id="insertMaterialInformation" parameterType="com.ruoyi.system.api.domain.MaterialInformation" useGeneratedKeys="true" keyProperty="miId">
        insert into material_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialCode != null">material_code,</if>
            <if test="materialName != null">material_name,</if>
            <if test="materialCategory != null">material_category,</if>
            <if test="materialSpecification != null">material_specification,</if>
            <if test="materialModel != null">material_model,</if>
            <if test="materialBrand != null">material_brand,</if>
            <if test="materialUnit != null">material_unit,</if>
            <if test="mustNumber != null">must_number,</if>
            <if test="mustDate != null">must_date,</if>
            <if test="currencyName != null">currency_name,</if>
            <if test="referencePrice != null">reference_price,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="tax != null">tax,</if>
            <if test="rateValue != null">rate_value,</if>
            <if test="budgetAmount != null">budget_amount,</if>
            <if test="remarks != null">remarks,</if>
            <if test="annex != null">annex,</if>
            <if test="purchaser != null">purchaser,</if>
            <if test="requirementCode != null">requirement_code,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="materialCategory != null">#{materialCategory},</if>
            <if test="materialSpecification != null">#{materialSpecification},</if>
            <if test="materialModel != null">#{materialModel},</if>
            <if test="materialBrand != null">#{materialBrand},</if>
            <if test="materialUnit != null">#{materialUnit},</if>
            <if test="mustNumber != null">#{mustNumber},</if>
            <if test="mustDate != null">#{mustDate},</if>
            <if test="currencyName != null">#{currencyName},</if>
            <if test="referencePrice != null">#{referencePrice},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="tax != null">#{tax},</if>
            <if test="rateValue != null">#{rateValue},</if>
            <if test="budgetAmount != null">#{budgetAmount},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="annex != null">#{annex},</if>
            <if test="purchaser != null">#{purchaser},</if>
            <if test="requirementCode != null">#{requirementCode},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>


    <update id="updateMaterialInformation" parameterType="com.ruoyi.system.api.domain.MaterialInformation">
        update material_information
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="materialCategory != null">material_category = #{materialCategory},</if>
            <if test="materialSpecification != null">material_specification = #{materialSpecification},</if>
            <if test="materialModel != null">material_model = #{materialModel},</if>
            <if test="materialBrand != null">material_brand = #{materialBrand},</if>
            <if test="materialUnit != null">material_unit = #{materialUnit},</if>
            <if test="mustNumber != null">must_number = #{mustNumber},</if>
            <if test="mustDate != null">must_date = #{mustDate},</if>
            <if test="currencyName != null">currency_name = #{currencyName},</if>
            <if test="referencePrice != null">reference_price = #{referencePrice},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="tax != null">tax = #{tax},</if>
            <if test="rateValue != null">rate_value = #{rateValue},</if>
            <if test="budgetAmount != null">budget_amount = #{budgetAmount},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="annex != null">annex = #{annex},</if>
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="requirementCode != null">requirement_code = #{requirementCode},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where mi_id = #{miId}
    </update>

    <delete id="deleteMaterialInformationByMiId" parameterType="Integer">
        delete from material_information where mi_id = #{miId}
    </delete>

    <delete id="deleteMaterialInformationByMiIds" parameterType="String">
        delete from material_information where mi_id in
        <foreach item="miId" collection="array" open="(" separator="," close=")">
            #{miId}
        </foreach>
    </delete>

    <delete id="deleteMaterialByMaterialIds" parameterType="String">
        delete from material where material_id in
        <foreach item="materialId" collection="array" open="(" separator="," close=")">
            #{materialId}
        </foreach>
    </delete>

    <delete id="deleteMaterialByMaterialId" parameterType="Integer">
        delete from material where material_id = #{materialId}
    </delete>

    <insert id="batchMaterial">
        insert into material( material_id, material_code, material_name, calculation_unit, purchaser, l_updated, l_update_time, source_system, enable, m_category, specifications, model, brand, categories_taxes, image, g_weight, n_weight, weight, volume, v_unit, abc_attribute, avoid_inspect) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.materialId}, #{item.materialCode}, #{item.materialName}, #{item.calculationUnit}, #{item.purchaser}, #{item.lUpdated}, #{item.lUpdateTime}, #{item.sourceSystem}, #{item.enable}, #{item.mCategory}, #{item.specifications}, #{item.model}, #{item.brand}, #{item.categoriesTaxes}, #{item.image}, #{item.gWeight}, #{item.nWeight}, #{item.weight}, #{item.volume}, #{item.vUnit}, #{item.abcAttribute}, #{item.avoidInspect})
        </foreach>
    </insert>

    <update id="updateRequirementStatus" parameterType="String">
        UPDATE material_information SET `status`=2 WHERE mi_id in
        <foreach collection="array" item="miId" open="(" separator="," close=")">
            #{miId}
        </foreach>
    </update>

    <update id="updateRequirementStatusCancel" parameterType="String">
        UPDATE material_information SET `status`=4 WHERE mi_id in
        <foreach collection="array" item="miId" open="(" separator="," close=")">
            #{miId}
        </foreach>
    </update>

    <update id="updateRequirementStatusAllocation" parameterType="String">
        UPDATE material_information SET `status`=3,purchaser=#{purchaser} WHERE mi_id in
        <foreach collection="miId" item="miId" open="(" separator="," close=")">
            #{miId}
        </foreach>
    </update>

    <update id="updateProcurementTask" parameterType="String">
        UPDATE procurement_task SET `task_status`=1,purchaser=#{purchaser} WHERE mi_id in
        <foreach collection="miId" item="miId" open="(" separator="," close=")">
            #{miId}
        </foreach>
    </update>

</mapper>
