<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.ProcurementTaskMapper">
    
    <resultMap type="com.ruoyi.system.api.domain.ProcurementTask" id="ProcurementTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="procurementStrategy"    column="procurement_strategy"    />
        <result property="taskTotal"    column="task_total"    />
        <result property="requirementId"    column="requirement_id"    />
        <result property="companiesId"    column="companies_id"    />
        <result property="purchaser"    column="purchaser"    />
        <result property="currencyId"    column="currency_id"    />
        <result property="acceptanceStrategy"    column="acceptance_strategy"    />
        <result property="taskNumber"    column="task_number"    />
        <result property="acceptedQuantity"    column="accepted_quantity"    />
        <result property="taskOccupied"    column="task_occupied"    />
        <result property="taskAccepted"    column="task_accepted"    />
        <result property="taskStatus"    column="task_status"    />
    </resultMap>

    <sql id="selectProcurementTaskVo">
        select task_id, task_code, procurement_strategy, task_total, requirement_id, companies_id, purchaser, currency_id, acceptance_strategy, task_number, accepted_quantity, task_occupied, task_accepted,task_status from procurement_task
    </sql>

    <select id="selectProcurementTaskList" parameterType="com.ruoyi.system.api.domain.ProcurementTask" resultMap="ProcurementTaskResult">
        <include refid="selectProcurementTaskVo"/>
        <where>  
            <if test="taskCode != null  and taskCode != ''"> and task_code = #{taskCode}</if>
            <if test="procurementStrategy != null  and procurementStrategy != ''"> and procurement_strategy = #{procurementStrategy}</if>
            <if test="taskTotal != null "> and task_total = #{taskTotal}</if>
            <if test="requirementId != null "> and requirement_id = #{requirementId}</if>
            <if test="companiesId != null  and companiesId != ''"> and companies_id = #{companiesId}</if>
            <if test="purchaser != null  and purchaser != ''"> and purchaser = #{purchaser}</if>
            <if test="currencyId != null "> and currency_id = #{currencyId}</if>
            <if test="acceptanceStrategy != null  and acceptanceStrategy != ''"> and acceptance_strategy = #{acceptanceStrategy}</if>
            <if test="taskNumber != null "> and task_number = #{taskNumber}</if>
            <if test="acceptedQuantity != null "> and accepted_quantity = #{acceptedQuantity}</if>
            <if test="taskOccupied != null "> and task_occupied = #{taskOccupied}</if>
            <if test="taskAccepted != null "> and task_accepted = #{taskAccepted}</if>
            <if test="taskStatus != null "> and task_status = #{taskStatus}</if>
        </where>
    </select>
    
    <select id="selectProcurementTaskByTaskId" parameterType="Long" resultMap="ProcurementTaskResult">
        <include refid="selectProcurementTaskVo"/>
        where task_id = #{taskId}
    </select>
    <select id="selectProcurementTaskByTaskCode" resultType="com.ruoyi.system.api.domain.ProcurementTask" resultMap="ProcurementTaskResult">
        <include refid="selectProcurementTaskVo"/>
        where task_code = #{taskCode}
    </select>

    <insert id="insertProcurementTask" parameterType="com.ruoyi.system.api.domain.ProcurementTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into procurement_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">task_code,</if>
            <if test="procurementStrategy != null">procurement_strategy,</if>
            <if test="taskTotal != null">task_total,</if>
            <if test="requirementId != null">requirement_id,</if>
            <if test="companiesId != null">companies_id,</if>
            <if test="purchaser != null">purchaser,</if>
            <if test="currencyId != null">currency_id,</if>
            <if test="acceptanceStrategy != null">acceptance_strategy,</if>
            <if test="taskNumber != null">task_number,</if>
            <if test="acceptedQuantity != null">accepted_quantity,</if>
            <if test="taskOccupied != null">task_occupied,</if>
            <if test="taskAccepted != null">task_accepted,</if>
            <if test="taskStatus != null">task_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskCode != null">#{taskCode},</if>
            <if test="procurementStrategy != null">#{procurementStrategy},</if>
            <if test="taskTotal != null">#{taskTotal},</if>
            <if test="requirementId != null">#{requirementId},</if>
            <if test="companiesId != null">#{companiesId},</if>
            <if test="purchaser != null">#{purchaser},</if>
            <if test="currencyId != null">#{currencyId},</if>
            <if test="acceptanceStrategy != null">#{acceptanceStrategy},</if>
            <if test="taskNumber != null">#{taskNumber},</if>
            <if test="acceptedQuantity != null">#{acceptedQuantity},</if>
            <if test="taskOccupied != null">#{taskOccupied},</if>
            <if test="taskAccepted != null">#{taskAccepted},</if>
            <if test="taskStatus != null">#{taskStatus},</if>
         </trim>
    </insert>

    <update id="updateProcurementTask" parameterType="com.ruoyi.system.api.domain.ProcurementTask">
        update procurement_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskCode != null">task_code = #{taskCode},</if>
            <if test="procurementStrategy != null">procurement_strategy = #{procurementStrategy},</if>
            <if test="taskTotal != null">task_total = #{taskTotal},</if>
            <if test="requirementId != null">requirement_id = #{requirementId},</if>
            <if test="companiesId != null">companies_id = #{companiesId},</if>
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="currencyId != null">currency_id = #{currencyId},</if>
            <if test="acceptanceStrategy != null">acceptance_strategy = #{acceptanceStrategy},</if>
            <if test="taskNumber != null">task_number = #{taskNumber},</if>
            <if test="acceptedQuantity != null">accepted_quantity = #{acceptedQuantity},</if>
            <if test="taskOccupied != null">task_occupied = #{taskOccupied},</if>
            <if test="taskAccepted != null">task_accepted = #{taskAccepted},</if>
            <if test="taskStatus != null">task_status = #{taskStatus},</if>
        </trim>
        where task_id = #{taskId}
    </update>
    <update id="updateProcurementTasks" parameterType="com.ruoyi.system.api.domain.ProcurementTask">
        update procurement_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="procurementStrategy != null">procurement_strategy = #{procurementStrategy},</if>
            <if test="taskTotal != null">task_total = #{taskTotal},</if>
            <if test="requirementId != null">requirement_id = #{requirementId},</if>
            <if test="companiesId != null">companies_id = #{companiesId},</if>
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="currencyId != null">currency_id = #{currencyId},</if>
            <if test="acceptanceStrategy != null">acceptance_strategy = #{acceptanceStrategy},</if>
            <if test="taskNumber != null">task_number = #{taskNumber},</if>
            <if test="acceptedQuantity != null">accepted_quantity = #{acceptedQuantity},</if>
            <if test="taskOccupied != null">task_occupied = #{taskOccupied},</if>
            <if test="taskAccepted != null">task_accepted = #{taskAccepted},</if>
            <if test="taskStatus != null">task_status = #{taskStatus},</if>
        </trim>
        where task_Code = #{taskCode}
    </update>

    <delete id="deleteProcurementTaskByTaskId" parameterType="Long">
        delete from procurement_task where task_id = #{taskId}
    </delete>

    <delete id="deleteProcurementTaskByTaskIds" parameterType="String">
        delete from procurement_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>