<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hh.pms.mapper.RequirementTableMapper">
    
    <resultMap type="RequirementTable" id="RequirementTableResult">
        <result property="requirementId"    column="requirement_id"    />
        <result property="requirementType"    column="requirement_type"    />
    </resultMap>

    <sql id="selectRequirementTableVo">
        select requirement_id, requirement_type from requirement_table
    </sql>

    <select id="listRequirementTableName" resultType="com.hh.pms.domain.RequirementTable">
        <include refid="selectRequirementTableVo"/>
    </select>
    
    <select id="selectRequirementTableByRequirementId" parameterType="Long" resultMap="RequirementTableResult">
        <include refid="selectRequirementTableVo"/>
        where requirement_id = #{requirementId}
    </select>
        

</mapper>